<?xml version ="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="key" type="text" label="30022" default=""/>
    <setting id="rpp" type="labelenum" label="30008" values="20|50|100|150|200" default="20"/>
    <setting id="limitpages" type="bool" label="30009" default="false"/>    
    <setting id="maxpages" type="labelenum" label="30010" enable="eq(-1,true)" subsetting="true" values="5|10|15|20|25" default="10"/>
    <setting id="orientation" type="enum" label="30023" lvalues="30024|30025|30026" default="30024"/>
    <setting id="imgsize" type="labelenum" label="30011" values="180|340|640|960|1280" default="1280"/>
    <setting id="tmbsize" type="labelenum" label="30012" values="180|340|640" default="340"/>
    <setting id="tmbfolders" type="bool" label="30013" default="false"/>
  </category>
  <category label="30020">
  	<setting id="username" type="text" label="30021" default=""/>
  </category>
</settings>
